@import "../css/common.css";
@import "../css/style.css";

.photos__card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 5px;
}

.photos__title {
  font-size: 18px;
  color: #3b71ca;
}

.gallery__row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 80px;
}

.photos__btn {
  padding: 5px 10px;
  background-color: #54b4d3;
  border-radius: 5px;
  border: none;
  color: white;
}

@media (max-width: 780px) {
  .gallery__row {
    grid-template-columns: repeat(2, 1fr);
  }
}
